<style>
</style>

<div  ng-controller="empresaCtrl">
    <div class="row">
        <div class="col-sm-1"><label for="codigo">Código: </label></div>
        <div class="col-sm-1"><input class="form-control" type="text" ng-model="empresa.codigoEmpresa" id="codigo"/></div>
    </div>
    <div class="row">
        <div class="col-sm-1"><label for="nome">Nome: </label></div>
        <div class="col-sm-1"> <input class="form-control" type="text" ng-model="empresa.nomeEmpresa" id="nome"/></div>
    </div>
    <div class="row">
        <div class="col-sm-1"><label>Outra coisa: </label></div>
        <div class="col-sm-1"><input class="form-control" type="text" ng-model="empresa.outraCoisa" id="outraCoisa"/></div>
    </div>
    <div class="row">
        <div class="col-sm-1"><button class="btn btn-info" ng-click="cadastrarEmpresa(empresa)">cadastrar</button></div>
    </div>
</div>